<section class="component cta bg-metallic">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1">
        <h2>{{ header }}</h2>
        {% include molecules/btn-container.html primary_btn_copy: primary_btn_copy
        primary_btn_color: primary_btn_color
        primary_btn_link: primary_btn_link
        secondary_btn_copy: secondary_btn_copy
        secondary_btn_color: secondary_btn_color
        secondary_btn_link: secondary_btn_link %}
      </div>
    </div>
  </div>
</section>