<div class="link-anchor deep" id="form-slider"></div>
<div class="component form-slider">
  <form id="slider" action="https://server.coastlightdigital.com/api/sendmail/quote" method="post">
    <div class="form-slide-wrapper">
      <div class="form-slide" data-tag="form-slide">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">

          <h3 class="h2">What services are you looking for?</h3>
          <p>
            Please select all that apply
          </p>

          <div class="error-wrapper">
            {% include molecules/input-select.html required: true
            options: "Brand identity, Content strategy, Web design, Web
            development, Hosting and maintenance, All of the above, Other"
            name: "desired_services" %}
          </div>
          {% include molecules/form-btns.html primary_btn_copy: "Next" %}
        </div>
      </div>

      <div class="form-slide" data-tag="form-slide">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">

          <h3 class="h2">Is this an eCommerce site?</h3>
          <div class="error-wrapper">
            {% include molecules/input-select.html required: true
            options: "Yes, No"
            switch: true
            name: "ecommerce"
            %}
          </div>

          <h3 class="h2">Does your site contain content that you want to edit on a regular basis?</h3>
          <p>
            This could be a blog, a news section, landing pages, products, or anything else
          </p>
          <div class="error-wrapper">
            {% include molecules/input-select.html required: true
            options: "Yes, No"
            switch: true
            name: "frequent_updates"
            gateway: "editable_content"
            %}
          </div>

          <div class="gated-content" data-gate-id="editable_content">
            <h3 class="h2">What kind of content do you want to be able to edit?</h3>
            <textarea name="editable_content"></textarea>
          </div>

          {% include molecules/form-btns.html primary_btn_copy: "Next" back_button: true %}
        </div>
      </div>

      <div class="form-slide" data-tag="form-slide">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">

          <h3 class="h2">Does your site require support for localization?</h3>
          <p>
            This means translated site content based on the user’s location
          </p>
          <div class="error-wrapper">
            {% include molecules/input-select.html required: true
            options: "Yes, No"
            switch: true
            name: "localization"
            %}
          </div>

          <h3 class="h2">Does your site require advanced analytics tracking or SDK integration?</h3>
          <p>
            This includes services like Segment, Optimizely, or other SDKs
          </p>
          <div class="error-wrapper">
            {% include molecules/input-select.html required: true
            options: "Yes, No"
            switch: true
            name: "advanced_tracking" %}
          </div>

          {% include molecules/form-btns.html primary_btn_copy: "Next" back_button: true %}
        </div>
      </div>

      <div class="form-slide" data-tag="form-slide">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">

          <h3 class="h2">How many pages (approximately) will your site need?</h3>
          <p>
            Try to give an estimate; this can change later
          </p>
          <div class="error-wrapper">
            <input type="number" name="number_pages" data-required="true">
          </div>

          <h3 class="h2">Are you looking for any special features?</h3>
          <p>
            If nothing comes to mind, feel free to leave this section blank
          </p>
          <textarea name="special_features"></textarea>

          {% include molecules/form-btns.html primary_btn_copy: "Next" back_button: true %}
        </div>
      </div>

      <div class="form-slide" data-tag="form-slide">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">

          <h3 class="h2">Do you have an existing website?</h3>

          <div class="error-wrapper">
            {% include molecules/input-select.html required: true
            options: "Yes, No"
            switch: true
            name: "existing_site"
            gateway: "existing_site_address" %}
          </div>

          <div class="gated-content" data-gate-id="existing_site_address">
            <h3 class="h2">Are you open to sharing your site?</h3>
            <p>
              It would be great to see what we’re working with, but if you can’t share right now, feel free to leave
              this
              section blank
            </p>
            <input type="text" name="existing_site_address">
          </div>

          {% include molecules/form-btns.html primary_btn_copy: "Next" back_button: true %}
        </div>
      </div>

      <div class="form-slide final" data-tag="form-slide">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
          <h3 class="h2 text-center">Your contact information</h3>
          <div class="row">
            <div class="col-12 col-md-6">
              <input type="text" placeholder="First name*" name="first_name" required data-required="true">
            </div>
            <div class="col-12 col-md-6">
              <input type="text" placeholder="Last name*" name="last_name" required data-required="true">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <input type="email" placeholder="Email*" name="email" required data-required="true">
            </div>
            <div class="col-12 col-md-6">
              <input type="tel" placeholder="Phone number" name="phone">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <textarea name="message" placeholder="Message"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              {% include molecules/form-btns.html primary_btn_copy: "Submit" back_button: true form_submit: true %}
            </div>
          </div>
        </div>
      </div>
      <div class="form-slide response" data-tag="form-slide">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">
          <div data-tag="response" class="text-center"></div>
        </div>
      </div>
    </div>
  </form>
</div>