<div class="link-anchor deep" id="form-slider"></div>
<div class="component form-slider">
  <form id="slider" action="http://localhost:3000/api" method="post">
    <div class="form-slide-wrapper">
      <div class="form-slide" data-tag="form-slide">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">

          <h3 class="h2">What services are you looking for?</h3>
          <p>
            Please select all that apply
          </p>

          {% include molecules/input-select.html options: "Brand identity, Content strategy, Web design, Web
          development, Hosting and maintenance, All of the above, Other"
          name: "desired_services" %}
          {% include molecules/form-btns.html primary_btn_copy: "Next" %}
        </div>
      </div>

      <div class="form-slide" data-tag="form-slide">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">

          <h3 class="h2">Does your site contain content that you want to edit on a regular basis?</h3>
          <p>
            This could be a blog, a news section, landing pages, or anything else
          </p>

          {% include molecules/input-select.html options: "Yes, No" switch: true name: "frequent_updates" %}

          <h3 class="h2">What kind of content do you want to be able to edit?</h3>

          <textarea name="editable_content"></textarea>

          {% include molecules/form-btns.html primary_btn_copy: "Next" back_button: true %}
        </div>
      </div>

      <div class="form-slide" data-tag="form-slide">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">

          <h3 class="h2">Does your site require support for localization?</h3>
          <p>
            This means translated site content based on the user’s location
          </p>

          {% include molecules/input-select.html options: "Yes, No" switch: true name: "localization" %}

          <h3 class="h2">Does your site require advanced analytics tracking or SDK integration?</h3>

          <p>
            This includes services like Segment, Optimizely, or other SDKs
          </p>

          {% include molecules/input-select.html options: "Yes, No" switch: true name: "advanced_tracking" %}

          {% include molecules/form-btns.html primary_btn_copy: "Next" back_button: true %}
        </div>
      </div>

      <div class="form-slide" data-tag="form-slide">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">

          <h3 class="h2">How many pages (approximately) will your site need?</h3>
          <p>
            Try to give an estimate; this can change later
          </p>

          <input type="number" placeholder="1" name="number_pages">

          <h3 class="h2">Are you looking for any special features?</h3>

          <p>
            If nothing comes to mind, feel free to leave this section blank
          </p>

          <textarea name="special_features"></textarea>

          {% include molecules/form-btns.html primary_btn_copy: "Next" back_button: true %}
        </div>
      </div>

      <div class="form-slide" data-tag="form-slide">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">

          <h3 class="h2">Do you have an existing website?</h3>

          {% include molecules/input-select.html options: "Yes, No" switch: true name: "existing_site" %}

          <h3 class="h2">Are you open to sharing your site?</h3>

          <p>
            It would be great to see what we’re working with, but if you can’t share right now, feel free to leave this
            section blank
          </p>

          <input type="text" name="existing_site_address">

          {% include molecules/form-btns.html primary_btn_copy: "Next" back_button: true %}
        </div>
      </div>

      <div class="form-slide final" data-tag="form-slide">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
          <h3 class="h2 text-center">Your contact information</h3>
          <div class="row">
            <div class="col-12 col-md-6">
              <input type="text" placeholder="First name*" name="first_name">
            </div>
            <div class="col-12 col-md-6">
              <input type="text" placeholder="Last name*" name="last_name">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <input type="email" placeholder="Email*" name="email">
            </div>
            <div class="col-12 col-md-6">
              <input type="tel" placeholder="Phone number" name="phone">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <textarea name="message" placeholder="Message*"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              {% include molecules/form-btns.html primary_btn_copy: "Submit" back_button: true form_submit: true %}
            </div>
          </div>
        </div>
      </div>
      <div class="form-slide response" data-tag="form-slide">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">
          <div data-tag="response" class="text-center"></div>
        </div>
      </div>
    </div>
  </form>
</div>