<section class="component gallery bg-metallic">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1">
        <div class="gallery-grid">
          {% include molecules/gallery-card.html color: "#F8FEFF"
          title: "Boesel Built"
          image: "/assets/img/logos/boesel-built.svg"
          link: "/" %}

          {% include molecules/gallery-card.html color: "#999999"
          title: "Boesel Built"
          image: "/assets/img/logos/boesel-built.svg"
          link: "/" %}

          {% include molecules/gallery-card.html color: "#F8FEFF"
          title: "Boesel Built"
          image: "/assets/img/logos/boesel-built.svg"
          link: "/" %}

          {% include molecules/gallery-card.html color: "#999999"
          title: "Boesel Built"
          image: "/assets/img/logos/boesel-built.svg"
          link: "/" %}
        </div>
      </div>
    </div>
  </div>
</section>