<div class="link-anchor" id="gallery"></div>
<section class="component gallery bg-metallic">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1">
        <div class="gallery-grid">
          {% if type == "logos" %}
          {% for logo in collections.logos reversed %}
          {% include molecules/gallery-card.html color: logo.data.color
          title: logo.data.title
          logo: logo.data.logo
          link: logo.page.url %}
          {% endfor %}
          {% elsif type == 'sites' %}
          {% for site in collections.sites reversed %}
          {% include molecules/gallery-card.html color: site.data.color
          title: site.data.title
          logo: site.data.logo
          link: site.page.url %}
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>