<div class="component header bg-orange">
  <div class="container-fluid">
    <div class="row">
      <div class="offset-1 col-10 col-lg-7 col-xl-6 offset-md-1">
        <div class="content-area">
          <h2 class="txt-white">Elevate your business with beautifully designed websites and logos</h2>
          {% render molecules/btn-container.html primary_btn_copy: "Portfolio"
          secondary_btn_copy: "Our process"
          primary_btn_link: '/'
          secondary_btn_link: '/'
          primary_btn_color: 'blue'
          secondary_btn_color: 'white' %}
        </div>
      </div>
      <div class="col-lg-3 col-xl-4 offset-1 d-none d-lg-block">
        <div class="illu-container up-arrow">
          <img class="illu" src="/assets/img/illustrations/illu_up-arrow.svg">
        </div>
      </div>
    </div>
  </div>