<div class="component header bg-orange">
  <div class="container-fluid">
    <div class="row">
      <div class="offset-1 col-10 col-lg-7 col-xl-6">
        <div class="content-area">
          <h2 class="txt-white">{{ header }}</h2>
          {% render molecules/btn-container.html primary_btn_copy: primary_btn_copy
          secondary_btn_copy: secondary_btn_copy
          primary_btn_link: '/'
          secondary_btn_link: '/'
          primary_btn_color: 'blue'
          secondary_btn_color: 'white-outline orange' %}
        </div>
      </div>
      <div class="d-none d-lg-block col-lg-3 col-xl-3 offset-1">
        <div class="illu-container {% if title == 'Home' %}up-arrow{% endif %}">
          <img class="illu" src="{{ image }}">
        </div>
      </div>
    </div>
  </div>
</div>