<section class="component process-section {{ bg_color }}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1 col-lg-9 col-xl-7">
        <h3 class="h2 numeral">{{ numeral }}</h3>
        <h3 class="h2 header">{{ header }}</h3>
        <p>
          {{ description }}
        </p>

        {% if deliverables %}
        <h4>Deliverables</h4>
        <ul class="folders">
          {% for item in deliverables %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</section>