{% if color == 'bg-metallic' %}
{% assign primary_btn_color = 'blue' %}
{% assign secondary_btn_color = 'orange-outline' %}
{% else %}
{% assign primary_btn_color = 'orange' %}
{% assign secondary_btn_color = 'white-outline blue' %}
{% endif %}

<section class="component section {{ color }}">
  <div class="container-fluid">
    <div class="row">
      <div class="offset-1 col-10 col-lg-6 col-xl-6 {% if content_position %}order-last{% endif %}">
        <div class="content-area">
          <h2 class="{% if color == 'bg-blue' %}txt-white{% endif %}">{{ header }}</h2>
          <p class="{% if color == 'bg-blue' %}txt-white{% endif %}">
            {{ content }}
          </p>
          {% if primary_btn_copy %}
          {% render molecules/btn-container.html primary_btn_copy: primary_btn_copy
          secondary_btn_copy: secondary_btn_copy
          primary_btn_link: primary_btn_link
          secondary_btn_link: secondary_btn_link
          primary_btn_color: primary_btn_color
          secondary_btn_color: secondary_btn_color %}
          {% endif %}

        </div>
      </div>
      <div class="d-none d-lg-block col-lg-3 col-xl-3 offset-1 {% if content_position %}order-first{% endif %}">
        <div class="illu-container">
          {% if image %}
          <img class="illu" src="{{ image }}">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>