---
title: About
layout: default
description: "A short description of the company mission, and biographical information about the founder."
---

{% include components/header.html header: "About the company" %}

{% include components/section.html header: "My mission"
content_position: "right"
content: "With Coastlight Digital, my mission is to provide quality digital services to businesses
that understand the importance of their brand, and are willing to invest in it. Being a premium service, I seek to
provide a strong value proposition by empowering customers with elegant solutions while providing top-notch
service along the way."
image: '/assets/img/illustrations/illu_rocket-ship.svg'
%}

{% include components/section.html header: "About me"
color: 'bg-blue'
content: "Having worked as a web developer and front-end software engineer on both marketing sites and enterprise
applications, I have a broad swathe of strategic and technical experience in the digital space. I'm unique
in my ability to understand technical problems and how to solve them, while also being a strong communicator.
<br><br>
Over the past few years, I've expanded my design skills, taking bootcamps and courses in digital and user
experience design while working as a freelance web designer. I now apply my dynamic experience to serving my
clients at Coastlight Digital.<br><br>
I look forward to working with you!<br><br>
&mdash;Trevor Sorel
"
%}

{% include components/cta.html header: "Ready to get started?"
primary_btn_copy: "Get a quote"
primary_btn_color: "blue"
primary_btn_link: linkTree.get_a_quote
secondary_btn_copy: "Portfolio"
secondary_btn_color: "orange-outline"
secondary_btn_link: linkTree.web_design.portfolio %}