---
title: About
layout: default
description: "A short description of the company mission, and biographical information about the founder."
---

{% include components/header.html header: "About the company" %}

{% include components/section.html header: "My mission"
content_position: "right"
content: "With Coastlight Digital, my mission is to provide quality digital services to businesses
that understand the importance of their brand. I seek to provide a strong value proposition by empowering 
customers with elegant solutions while providing top-notch service along the way."
image: '/assets/img/illustrations/illu_rocket-ship.svg'
%}

{% include components/section.html header: "About Trevor Sorel"
color: 'bg-blue'
image: '/assets/img/business-portrait.webp'
content: "With over fifteen years of experience spanning marketing websites and
enterprise applications, Trevor Sorel is an expert web developer and digital
designer. He has a broad set of strategic and technical skills, paired with deep
domain knowledge, that he leverages for his clients.  
<br><br> 
Over the past few
years, he's expanded his design skills, taking bootcamps and courses in digital
and user experience design while working as a freelance web designer and
developer. He now applies his dynamic experience and creativity in serving his 
clients at Coastlight Digital.
"
%}

{% include components/cta.html header: "Ready to get started?"
primary_btn_copy: "Get a quote"
primary_btn_color: "blue"
primary_btn_link: linkTree.get_a_quote
secondary_btn_copy: "Portfolio"
secondary_btn_color: "orange-outline"
secondary_btn_link: linkTree.web_design.portfolio %}