---
title: Contact
layout: default
---

{% include components/section.html header: "Looking to connect?"
color: "bg-blue"
image: "/assets/img/illustrations/illu_handshake-square.svg"
content: "Use the form below to send us a message. Alternatively, you can use one of the contact methods listed below.
<br><br>
<strong>Email</strong>: <a href='mailto:Trevor@coastlightdigital.com'>Trevor@coastlightdigital.com</a><br>
<strong>Phone</strong>: <a href='tel:17209277108'>1 (720) 927-7108</a>
<br><br>
<a href='https://www.linkedin.com/company/coastlight-digital/' target='_blank'><img src='/assets/img/ico_linkedin.svg'
    alt='linkedin icon'></a>
"
%}

{% capture inner_content %}
<div class="col-10 offset-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
  <h3 class="h2 text-center">Contact us</h3>
  <form method="POST" action="https://server.coastlightdigital.com/api/mail/send-message">
    <input type="hidden" name="recipients" value="trevor@coastlightdigital.com">
    <div class="row">
      <div class="col-12 col-md-6">
        <input type="text" placeholder="First name*" name="first_name" required>
      </div>
      <div class="col-12 col-md-6">
        <input type="text" placeholder="Last name*" name="last_name" required>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <input type="email" placeholder="Email*" name="email" required>
      </div>
      <div class="col-12 col-md-6">
        <input type="tel" placeholder="Phone number" name="phone" required>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <textarea name="message" placeholder="Message*" required></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="g-recaptcha" data-sitekey="6Lcfqh0lAAAAAPM9JoGynHH1MmeWJKrTPre3LXQB"></div>
      </div>
      <div class="col-12 col-md-6 submit-container">
        <input class="btn standard blue" type="submit" name="submit" value="submit">
      </div>
    </div>
  </form>
</div>
{% endcapture %}

{% include components/form-section.html content: inner_content %}