---
title: Contact
layout: default
description: "Use the form below to contact us with questions."
---

{% include components/section.html header: "Looking to connect?"
color: "bg-blue"
image: "/assets/img/illustrations/illu_handshake-square.svg"
content: "Use the form below to send me a message. Alternatively, you can use one of the contact methods listed below.
<br><br>
<strong>Email</strong>: <a href='mailto:Trevor@coastlightdigital.com'>Trevor@coastlightdigital.com</a><br>
<br><br>
<a href='https://www.linkedin.com/company/coastlight-digital/' target='_blank'><img src='/assets/img/ico_linkedin.svg'
    alt='linkedin icon'></a>
"
%}

{% capture inner_content %}
<div class="col-10 offset-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
  <h3 class="h2 text-center">Contact us</h3>
  <p>
    Coastlight Digital is suspending services and is no longer taking on new clients. Consequently,
    we have shut down our contact form and will not be taking new inquiries. The site remains up as a portfolio piece. 
    We wish you luck in finding digital services that suit your needs. 
  </p>
</div>
{% endcapture %}

{% include components/form-section.html content: inner_content %}