<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1 col-lg-3">
        <div class="row">
          <div class="col-10 col-md-6 col-lg-12">
            <img class="logo" src="/assets/img/logo-white.svg" alt="Coastlight Digital logo">
          </div>
          <div class="d-none d-md-flex col-md-6 col-lg-12">
            <ul class="faded">
              <li class=""><a href="mailto:Trevor@coastlightdigital.com">Trevor@coastlightdigital.com</a></li>
              <li><a href="tel:14152591278">(415) 259-1278</a></li>
            </ul>
          </div>
        </div>
        <div class="spacer"></div>
      </div>
      <div class="col-5 offset-1 col-sm-3 col-md-3 offset-sm-1 col-lg-2 offset-lg-1">
        <h3>Company</h3>
        <ul>
          <li><a href="">Portfolio</a></li>
          <li><a href="">Our process</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">About</a></li>
        </ul>
      </div>
      <div class="col-5 col-sm-4 col-md-3 col-lg-2">
        <h3>Legal</h3>
        <ul>
          <li><a href="">Terms of use</a></li>
          <li><a href="">Privacy policy</a></li>
        </ul>
      </div>
      <div class="d-none d-sm-block col-sm-4 col-md-4 col-lg-2 button">
        <a href="/" class="btn blue small">Get a quote</a>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1">
        <div class="copyright-wrapper">
          <span>&copy; Coastlight Digital LLC, 2020 - 2023</span>
          <span><a href="/">Sitemap</a></span>
        </div>
      </div>
    </div>
  </div>
</footer>