<div class="nav-wrapper">
  <div id="main-nav" class="nav-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="inner-nav-wrapper">
            <a href="/" class="logo">
              <img src="/assets/img/logo-icon.svg" alt="Coastlight Digital icon">
              <h1>Coastlight <span class="d-none d-sm-inline-block">Digital</span></h1>
            </a>

            <nav class="d-none d-xl-block">
              <ul>
                <li><a href="/">Brand and logo design</a></li>
                <li><a href="/web-design">Web design</a></li>
                <li class="dropdown">Company
                  <ul>
                    <li><a href="/">About</a></li>
                    <li><a href="/">Contact</a></li>
                  </ul>
                </li>
                <li><a href="/" class="btn blue small">Get a quote</a></li>
              </ul>
            </nav>
            <span data-tag="mobile-toggle"
              class="d-block d-xl-none mobile-nav-button material-symbols-sharp">menu</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="mobile-nav" class="mobile-nav d-block d-xl-none hidden">
  <header>
    <h3>Menu</h3><span data-tag="mobile-toggle" class="mobile-nav-button material-symbols-sharp">menu</span>
  </header>
  <nav>
    <ul>
      <li><a href="/" class="{% if title == 'home' %}active{% endif %}">Home</a></li>
      <li><a href="/">Logos and branding</a></li>
      <li><a href="/web-design">Web Design</a></li>
      <li><a href="/">Portfolio</a></li>
      <li><a href="/">Our process</a></li>
      <li><a href="/">About</a></li>
      <li><a href="/">Contact</a></li>
      <li class="mobile-nav-cta"><a href="/">Get a quote</a></li>
      <li><a href="https://www.linkedin.com/company/coastlight-digital/" target="_blank"><img
            src="/assets/img/ico-linkedin.svg" alt="linkedin icon"></a></li>
    </ul>
  </nav>
</div>