<div class="nav-wrapper">
  <div id="main-nav" class="nav-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="inner-nav-wrapper">
            <a href="{{ linkTree.home }}" class="logo">
              <img src="/assets/img/logo-icon.svg" alt="Coastlight Digital icon">
              <h1>Coastlight <span class="d-none d-sm-inline-block">Digital</span></h1>
            </a>

            <nav class="d-none d-xl-block">
              <ul>
                <li><a href="{{ linkTree.branding }}">Brand and logo <span
                      class="d-none d-xxl-inline-block">design</span></a></li>
                <li><a href="{{ linkTree.web_design.overview }}">Web design</a>
                  <ul>
                    <li><a href="{{ linkTree.web_design.overview }}">Overview</a></li>
                    <li><a href="{{ linkTree.web_design.portfolio }}">Portfolio</a></li>
                    <li><a href="{{ linkTree.web_design.process }}">My process</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="{{ linkTree.company.about }}">Company</a>
                  <ul>
                    <li><a href="{{ linkTree.company.about }}">About</a></li>
                    <li><a href="{{ linkTree.company.contact }}">Contact</a></li>
                  </ul>
                </li>
                <li><a href="{{ linkTree.get_a_quote }}" class="btn blue small">Get a quote</a></li>
              </ul>
            </nav>
            <span data-tag="mobile-toggle"
              class="d-block d-xl-none mobile-nav-button material-symbols-sharp">menu</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="mobile-nav" class="mobile-nav d-block d-xl-none hidden">
  <header>
    <h3>Menu</h3><span data-tag="mobile-toggle" class="mobile-nav-button material-symbols-sharp">menu</span>
  </header>
  <nav>
    <ul>
      <li><a href="{{ linkTree.home }}" class="{% if title == 'home' %}active{% endif %}">Home</a></li>
      <li><a href="{{ linkTree.branding }}">Logos and branding</a></li>
      <li><a href="{{ linkTree.web_design.overview }}">Web Design</a></li>
      <li><a href="{{ linkTree.web_design.portfolio }}">Portfolio</a></li>
      <li><a href="{{ linkTree.web_design.process }}">My process</a></li>
      <li><a href="{{ linkTree.company.about }}">About</a></li>
      <li><a href="{{ linkTree.company.contact }}">Contact</a></li>
      <li class="mobile-nav-cta"><a href="{{ linkTree.get_a_quote }}">Get a quote</a></li>
      <li><a href="https://www.linkedin.com/company/coastlight-digital/" target="_blank"><img
            src="/assets/img/ico_linkedin.svg" alt="linkedin icon"></a></li>
    </ul>
  </nav>
</div>