<div class="nav-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="nav-wrapper">
          <a href="/" class="logo">
            <img src="/assets/img/logo-icon.svg" alt="Coastlight Digital icon">
            <h1>Coastlight <span class="d-none d-sm-inline-block">Digital</span></h1>
          </a>

          <nav class="d-none d-xl-block">
            <ul>
              <li><a href="/">Brand and logo design</a></li>
              <li><a href="/">Web design</a></li>
              <li class="dropdown">Company
                <ul>
                  <li><a href="/">About</a></li>
                  <li><a href="/">Contact</a></li>
                </ul>
              </li>
              <li><a href="/" class="btn blue small">Get a quote</a></li>
            </ul>
          </nav>
          <span class="d-block- d-xl-none mobile-nav-button material-symbols-sharp">menu</span>
        </div>
      </div>
    </div>
  </div>
</div>