.component.form-slider {
  overflow: hidden;

  #tooltip {
    position: absolute;
    top: 0;
    right: 0;
    background: $neutral-1100;
    padding: $spacing-400 $spacing-600;
    max-width: 240px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    font-size: $font-size-200;
    font-family: $font-family-body;
    font-weight: 300;
    border: 1px solid red;

    &::before {
      content: "";
      width: 0;
      height: 0;
      left: -14px;
      position: absolute;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
      border-right: 14px solid red;
    }
  }

  .error-wrapper {
    width: 100%;
    position: relative;
  }

  h3 {
    margin-bottom: $spacing-600;
  }

  p {
    font-weight: 300;
    font-size: $font-size-300;
    margin-bottom: $spacing-800;

    @media screen and (min-width: $screen-lg) {
      margin-bottom: $spacing-1200;
    }
  }

  .custom-input,
  textarea,
  input {
    margin-bottom: $spacing-1100;

    @media screen and (min-width: $screen-lg) {
      margin-bottom: 80px;
    }
  }

  textarea,
  input,
  .custom-input span {
    background: $neutral-1100;
    border: 1px solid $neutral-400;
    font-family: $font-family-body;

  }

  input,
  textarea {
    width: 100%;
    max-width: 660px;
    padding: $spacing-300 $spacing-400;
    font-size: $font-size-200;
  }

  textarea {
    min-height: 180px;
  }

  input[type="number"] {
    max-width: 88px;
    font-size: $font-size-200;
    padding: $spacing-300 $spacing-200 $spacing-300 $spacing-400;
  }

  .final {

    input,
    textarea {
      margin-bottom: $spacing-500;
      max-width: 100%;
    }

    textarea {
      margin-bottom: $spacing-1100;
    }
  }

  .form-slide-wrapper {
    display: flex;
    flex-direction: row;
    width: 200%;
    transition: margin 400ms;

    .form-slide {
      width: 100%;
    }
  }
}