.component.header {
  position: relative;

  .content-area {
    @include block-padding;

    h2 {
      max-width: 700px;
      display: flex;

      .external-link {
        margin-left: $spacing-500;
        margin-top: -$spacing-base;
      }
    }

    .services {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $neutral-1100;
      margin-top: $spacing-600;
      font-size: $font-size-200;
      font-family: $font-family-body;
      flex-wrap: wrap;

      .dot {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background: $neutral-1100;
        margin: 0 $spacing-300;
      }
    }

    .btn-container {
      margin-top: $spacing-1100;
    }
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 16px;

    .logo {
      width: 100%;
    }

    @media screen and (min-width: $screen-xl) {
      padding: 0 28px;
    }

    @media screen and (min-width: $screen-xxl) {
      padding: 0 40px;
    }
  }

  .illu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;

    &.up-arrow {
      justify-content: end;

      .illu {
        max-height: 340px;
      }
    }

    .illu {
      width: 100%;
    }
  }
}