.component.process-section {
  @include block-padding;

  &.bg-blue {
    color: $neutral-1100;

    .folders li {
      color: $neutral-900;
      background: url('/assets/img/folder-white.svg') no-repeat;
    }
  }

  .numeral {
    margin-bottom: $spacing-500;
  }

  .header {
    margin-bottom: $spacing-600;
  }

  h4 {
    margin: $spacing-1200 0 0;
  }

  .folders {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-basis: 1;
    flex-wrap: wrap;

    li {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: $spacing-600 $spacing-500 0 0;
      padding: $spacing-base $spacing-base 0;
      width: 140px;
      height: 100px;
      text-align: center;
      background: url('/assets/img/folder.svg') no-repeat;
      background-size: 100%;
      background-position: center;
      font-size: $font-size-100;
      font-weight: 400;
      color: $neutral-400;
    }
  }
}