.component.section {
  position: relative;

  .content-area {
    @include block-padding;

    h2 {
      margin-bottom: $spacing-600;
    }

    .btn-container {
      margin-top: $spacing-1100;
    }
  }

  .illu-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    align-items: center;
    @include block-padding;

    @media screen and (min-width: $screen-lg) {
      justify-content: center;
      padding: 0;
    }

    .illu {
      width: 100%;
      max-width: 300px;
    }
  }
}