---
title: Web design overview
layout: default
description: "An overview of our web design and development services."
---

{% include components/header.html header: "Marketing and eCommerce websites
painlessly managed, performant, and secure"
primary_btn_copy: "My process"
secondary_btn_copy: "Portfolio"
primary_btn_link: linkTree.web_design.process
secondary_btn_link: linkTree.web_design.portfolio
image: "/assets/img/illustrations/illu_screens.svg" %}

{% include components/slider.html %}

{% include components/section.html header: "A cutting-edge toolkit that keeps your website running"
content: "By hosting static sites in the cloud, I ensure my clients’ websites are fast, secure, and resilient. No more
Wordpress updates or injection attacks that break your site."
color: "bg-blue"
primary_btn_copy: "Get a quote"
secondary_btn_copy: "My process"
primary_btn_link: linkTree.get_a_quote
secondary_btn_link: linkTree.web_design.process
image: "/assets/img/illustrations/illu_balloon-man.svg" %}