.molecule.loading-bar {
  background: $neutral-700;
  height: $spacing-300;
  position: sticky;
  top: $nav-height;
  z-index: $z-index-nav;

  .bar {
    position: absolute;
  }

  .blue {
    width: 15%;
    background: $primary-200;
    height: 100%;
    transition: width 400ms;
  }

  .orange {
    width: 15%;
    background: $secondary-200;
    height: 100%;
    right: 0;
  }
}