h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: inherit;
  font-weight: bold;
}

h2 {
  font-size: 28px;
  line-height: 40px;
}
@media screen and (min-width: 577px) {
  h2 {
    font-size: 32px;
    line-height: 44px;
  }
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 36px;
    line-height: 48px;
  }
}

h3 {
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 24px;
  }
}

p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 300ms color;
}

.txt-white {
  color: #FCFCFF;
}

.bg-orange {
  background: linear-gradient(90.59deg, #F39C2A 20.42%, rgba(250, 161, 44, 0.81) 99.44%);
}

.bg-blue {
  background: linear-gradient(91.07deg, #257BEC 7.56%, #418EF3 89.29%);
}

.bg-metalic {
  background: linear-gradient(98.4deg, #EFF0F8 4.76%, rgba(239, 240, 248, 0) 57.39%);
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  border-radius: 4px;
  transition: 300ms background, 300ms color;
  filter: drop-shadow(0px 1px 2px rgba(88, 89, 91, 0.16));
}
.btn.standard {
  width: 140px;
  font-size: 18px;
  padding: 12px 0;
}
@media screen and (min-width: 577px) {
  .btn.standard {
    width: 180px;
    font-size: 24px;
    padding: 12px 0;
  }
}
.btn.small {
  padding: 8px 12px;
  font-size: 20px;
}
.btn.blue {
  background: #257BEC;
  color: #FCFCFF;
}
.btn.blue:hover {
  background: #418EF3;
}
.btn.orange {
  background: #F39C2A;
  color: #FCFCFF;
}
.btn.orange:hover {
  background: #FAA12C;
}
.btn.white-outline {
  background: transparent;
  color: #FCFCFF;
  padding: 8px 0;
  border: 4px solid #FCFCFF;
}
.btn.white-outline.orange:hover {
  background: #FCFCFF;
  color: #F39C2A;
}
.btn.white-outline.blue:hover {
  background: #FCFCFF;
  color: #257BEC;
}
.btn.orange-outline {
  background: transparent;
  color: #E89B30;
  padding: 8px 0;
  border: 4px solid #F39C2A;
}
.btn.orange-outline:hover {
  background: #F39C2A;
  color: #FCFCFF;
}

.mobile-nav-button {
  font-size: 52px;
  cursor: pointer;
}

.noscroll {
  overflow: hidden;
}

.nav-wrapper {
  position: relative;
  height: 164px;
}

.nav-bar {
  padding: 52px 0;
  position: fixed;
  width: 100%;
  background: #FCFCFF;
  transition: 300ms padding;
  z-index: 3;
}
.nav-bar.scrolled {
  padding: 24px 0;
}
.nav-bar .inner-nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .logo {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.nav-bar .logo h1 {
  margin: 0 0 0 24px;
  font-size: 32px;
}
@media screen and (min-width: 577px) {
  .nav-bar .logo h1 {
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar .logo h1 {
    margin: 0 0 0 24px;
    font-size: 40px;
  }
}
@media screen and (min-width: 992px) {
  .nav-bar .logo h1 {
    margin: 0 0 0 24px;
  }
}
@media screen and (min-width: 1300px) {
  .nav-bar .logo h1 {
    margin: 0 0 0 36px;
  }
}
.nav-bar nav {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 22px;
}
.nav-bar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: initial;
}
.nav-bar nav ul li {
  display: inline-block;
  margin-left: 32px;
  cursor: pointer;
}
.nav-bar nav ul li ul {
  display: none;
  position: absolute;
  background: #FCFCFF;
  border: 1px solid rgba(88, 89, 91, 0.24);
  min-width: 200px;
  z-index: 4;
  margin-top: 16px;
  margin-left: -12px;
}
.nav-bar nav ul li ul::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  top: -20px;
}
.nav-bar nav ul li ul li {
  display: block;
  margin: 0;
  padding: 0;
}
.nav-bar nav ul li ul li a {
  display: block;
  margin: 0;
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 400;
}
.nav-bar nav ul li ul li a:hover {
  background: #E3E4EA;
}
.nav-bar nav li:hover ul {
  display: block;
}

.mobile-nav {
  background: #257BEC;
  color: #FCFCFF;
  padding: 56px 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 440px;
  box-shadow: -4px 4px 2px rgba(0, 0, 0, 0.16);
  transition: 400ms right;
  overflow: scroll;
  z-index: 4;
}
.mobile-nav.hidden {
  right: -100%;
}
.mobile-nav header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px 0 72px;
}
.mobile-nav header h3 {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}
.mobile-nav header span {
  font-size: 52px;
}
.mobile-nav nav {
  margin-top: 40px;
}
.mobile-nav nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
}
.mobile-nav nav ul li {
  margin-bottom: 16px;
  padding: 0 72px;
}
.mobile-nav nav ul li a {
  transition: 300ms font-weight;
}
.mobile-nav nav ul li a:hover {
  font-weight: 500;
}
.mobile-nav nav ul li a.active {
  text-decoration: underline;
}
.mobile-nav nav ul li.mobile-nav-cta {
  background: #F39C2A;
  display: inline-block;
  width: 100%;
  padding: 8px 72px;
}

footer {
  background: #383C42;
  color: #FCFCFF;
  padding: 52px 0;
  font-family: "Lato", sans-serif;
}
footer img.logo {
  width: 100%;
  max-width: 400px;
  margin-bottom: 28px;
}
footer .spacer {
  height: 24px;
}
@media screen and (min-width: 768px) {
  footer .spacer {
    height: 24px;
  }
}
@media screen and (min-width: 992px) {
  footer .spacer {
    height: 0;
  }
}
footer h3 {
  margin-bottom: 16px;
}
footer ul {
  list-style: none;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  footer ul {
    font-size: 20px;
  }
}
footer ul.faded {
  font-weight: 300;
  text-align: right;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: end;
}
@media screen and (min-width: 600px) {
  footer ul.faded {
    flex-direction: column;
    justify-content: flex-start;
  }
}
footer ul.faded li {
  display: inline-block;
  margin-bottom: 4px;
}
@media screen and (min-width: 992px) {
  footer ul.faded li {
    margin-left: 0;
  }
}
footer ul li {
  margin-bottom: 8px;
}
@media screen and (min-width: 992px) {
  footer ul li {
    margin-bottom: 12px;
  }
}
footer .button {
  text-align: center;
}
@media screen and (min-width: 768px) {
  footer .button {
    text-align: right;
  }
}
footer .copyright-wrapper {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 18px;
}
footer .copyright-wrapper span:first-child {
  margin-bottom: 12px;
}
@media screen and (min-width: 577px) {
  footer .copyright-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  footer .copyright-wrapper {
    font-size: 20px;
  }
  footer .copyright-wrapper span:first-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  footer .copyright-wrapper {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  footer .copyright-wrapper {
    margin-top: 80px;
  }
}

.component.header {
  position: relative;
}
.component.header .content-area {
  padding: 80px 0;
}
@media screen and (min-width: 768px) {
  .component.header .content-area {
    padding: 120px 0;
  }
}
@media screen and (min-width: 992px) {
  .component.header .content-area {
    padding: 144px 0;
  }
}
.component.header .content-area h2 {
  max-width: 700px;
  margin-bottom: 44px;
}
.component.header .illu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.component.header .illu-container.up-arrow {
  justify-content: end;
}
.component.header .illu-container.up-arrow .illu {
  max-height: 340px;
}
.component.header .illu-container .illu {
  width: 100%;
}

.component.section {
  padding: 80px 0;
  position: relative;
}
@media screen and (min-width: 768px) {
  .component.section {
    padding: 120px 0;
  }
}
@media screen and (min-width: 992px) {
  .component.section {
    padding: 144px 0;
  }
}
.component.section .content-area h2 {
  margin-bottom: 24px;
}
.component.section .content-area .btn-container {
  margin-top: 44px;
}
.component.section .illu-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  align-items: center;
}
.component.section .illu-container .illu {
  width: 100%;
}

.molecule.btn-container a:first-child {
  margin-right: 4px;
}
@media screen and (min-width: 577px) {
  .molecule.btn-container a:first-child {
    margin-right: 12px;
  }
}

body {
  background: #FCFCFF;
  height: 200vh;
}

@media screen and (min-width: 768px) {
  .container-fluid {
    --bs-gutter-x: 3rem;
  }
}
@media screen and (min-width: 1300px) {
  .container-fluid {
    --bs-gutter-x: 5rem;
  }
}

.material-symbols-sharp {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 60;
}

/*# sourceMappingURL=main.css.map */
