h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: inherit;
  font-weight: bold;
  margin: 0;
}

h2,
.h2 {
  font-size: 28px;
  line-height: 40px;
  font-weight: bold;
}
@media screen and (min-width: 350px) {
  h2,
  .h2 {
    font-size: 32px;
    line-height: 44px;
  }
}
@media screen and (min-width: 576px) {
  h2,
  .h2 {
    font-size: 36px;
    line-height: 48px;
  }
}

h3 {
  font-size: 20px;
}
@media screen and (min-width: 576px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 24px;
  font-weight: 400;
}
@media screen and (min-width: 576px) {
  h4 {
    font-size: 28px;
  }
}

p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 300ms color;
}

section a {
  text-decoration: underline;
}

.txt-white {
  color: #FCFCFF;
}

.bg-orange {
  background: linear-gradient(90.59deg, #F39C2A 20.42%, rgba(250, 161, 44, 0.81) 99.44%);
}

.bg-blue {
  background: linear-gradient(91.07deg, #257BEC 7.56%, #418EF3 89.29%);
}

.bg-metallic {
  background: linear-gradient(98.4deg, #EFF0F8 4.76%, rgba(239, 240, 248, 0) 57.39%);
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  border-radius: 4px;
  transition: 300ms background, 300ms color, 300ms fill;
}
.btn.standard {
  width: 140px;
  font-size: 18px;
  padding: 12px 0;
}
@media screen and (min-width: 576px) {
  .btn.standard {
    width: 180px;
    font-size: 24px;
    padding: 12px 0;
  }
}
.btn.small {
  padding: 8px 12px;
  font-size: 20px;
}
.btn.blue {
  background: #257BEC;
  color: #FCFCFF;
}
.btn.blue:hover {
  background: #418EF3;
}
.btn.orange {
  background: #F39C2A;
  color: #FCFCFF;
}
.btn.orange:hover {
  background: #FAA12C;
}
.btn.white-outline {
  background: transparent;
  color: #FCFCFF;
  padding: 8px 0;
  border: 4px solid #FCFCFF;
}
.btn.white-outline.orange:hover {
  background: #FCFCFF;
  color: #F39C2A;
}
.btn.white-outline.blue:hover {
  background: #FCFCFF;
  color: #257BEC;
}
.btn.blue-outline {
  background: transparent;
  color: #257BEC;
  padding: 8px 0;
  border: 4px solid #257BEC;
  width: initial;
}
.btn.blue-outline:hover {
  background: #257BEC;
  color: #FCFCFF;
}
.btn.blue-outline.icon {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #257BEC;
  font-weight: 500;
}
.btn.blue-outline.icon svg {
  margin-left: 12px;
  pointer-events: none;
}
.btn.orange-outline {
  background: transparent;
  color: #E89B30;
  padding: 8px 0;
  border: 4px solid #F39C2A;
}
.btn.orange-outline:hover {
  background: #F39C2A;
  color: #FCFCFF;
}
.btn.orange-outline.back {
  padding: 8px 12px;
  box-sizing: border-box;
  margin-right: 12px;
}
.btn.orange-outline.back svg {
  width: auto;
  max-height: 28px;
  pointer-events: none;
}
.btn.orange-outline.back:hover svg path {
  stroke: #FCFCFF;
}
@media screen and (min-width: 576px) {
  .btn.orange-outline.back {
    padding: 12px 16px;
  }
  .btn.orange-outline.back svg {
    max-height: 30px;
  }
}
.btn.icon:hover rect {
  fill: #FCFCFF;
}

.mobile-nav-button {
  font-size: 52px;
  cursor: pointer;
}

.noscroll {
  overflow: hidden;
}

.nav-wrapper {
  position: relative;
  height: 164px;
}

.nav-bar {
  padding: 52px 0;
  position: fixed;
  width: 100%;
  background: #FCFCFF;
  transition: 300ms padding;
  z-index: 3;
}
.nav-bar.scrolled {
  padding: 24px 0;
}
.nav-bar .inner-nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .logo {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.nav-bar .logo h1 {
  margin: 0 0 0 24px;
  font-size: 32px;
}
@media screen and (min-width: 350px) {
  .nav-bar .logo h1 {
    font-size: 36px;
  }
}
@media screen and (min-width: 576px) {
  .nav-bar .logo h1 {
    margin: 0 0 0 24px;
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar .logo h1 {
    margin: 0 0 0 24px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-bar .logo h1 {
    margin: 0 0 0 36px;
  }
}
.nav-bar nav {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
}
.nav-bar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: initial;
}
.nav-bar nav ul li {
  display: inline-block;
  margin-left: 24px;
  cursor: pointer;
}
@media screen and (min-width: 1400px) {
  .nav-bar nav ul li {
    margin-left: 28px;
  }
}
.nav-bar nav ul li ul {
  display: none;
  position: absolute;
  background: #FCFCFF;
  border: 1px solid rgba(88, 89, 91, 0.24);
  min-width: 200px;
  z-index: 4;
  margin-top: 16px;
  margin-left: -12px;
}
.nav-bar nav ul li ul::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  top: -20px;
}
.nav-bar nav ul li ul li {
  display: block;
  margin: 0;
  padding: 0;
}
.nav-bar nav ul li ul li a {
  display: block;
  margin: 0;
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 400;
}
.nav-bar nav ul li ul li a:hover {
  background: #E3E4EA;
}
.nav-bar nav li:hover ul {
  display: block;
}

.mobile-nav {
  background: #257BEC;
  color: #FCFCFF;
  padding: 56px 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 440px;
  box-shadow: -4px 4px 2px rgba(0, 0, 0, 0.16);
  transition: 400ms right;
  overflow: scroll;
  z-index: 4;
}
.mobile-nav.hidden {
  right: -100%;
}
.mobile-nav header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px 0 72px;
}
.mobile-nav header h3 {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}
.mobile-nav header span {
  font-size: 52px;
}
.mobile-nav nav {
  margin-top: 40px;
}
.mobile-nav nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
}
.mobile-nav nav ul li {
  margin-bottom: 16px;
  padding: 0 72px;
}
.mobile-nav nav ul li a {
  transition: 300ms font-weight;
}
.mobile-nav nav ul li a:hover {
  font-weight: 500;
}
.mobile-nav nav ul li a.active {
  text-decoration: underline;
}
.mobile-nav nav ul li.mobile-nav-cta {
  background: #F39C2A;
  display: inline-block;
  width: 100%;
  padding: 8px 72px;
}

footer {
  background: #383C42;
  color: #FCFCFF;
  padding: 52px 0;
  font-family: "Lato", sans-serif;
}
footer img.logo {
  width: 100%;
  max-width: 400px;
  margin-bottom: 28px;
}
footer .spacer {
  height: 24px;
}
@media screen and (min-width: 576px) {
  footer .spacer {
    height: 24px;
  }
}
@media screen and (min-width: 768px) {
  footer .spacer {
    height: 0;
  }
}
footer h3 {
  margin-bottom: 16px;
}
footer ul {
  list-style: none;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
@media screen and (min-width: 576px) {
  footer ul {
    font-size: 20px;
  }
}
footer ul.faded {
  font-weight: 300;
  text-align: right;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: end;
}
@media screen and (min-width: 600px) {
  footer ul.faded {
    flex-direction: column;
    justify-content: flex-start;
  }
}
footer ul.faded li {
  display: inline-block;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  footer ul.faded li {
    margin-left: 0;
  }
}
footer ul li {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  footer ul li {
    margin-bottom: 12px;
  }
}
footer .button {
  text-align: center;
}
@media screen and (min-width: 576px) {
  footer .button {
    text-align: right;
  }
}
footer .copyright-wrapper {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 18px;
}
footer .copyright-wrapper span:first-child {
  margin-bottom: 12px;
}
@media screen and (min-width: 350px) {
  footer .copyright-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 576px) {
  footer .copyright-wrapper {
    font-size: 20px;
  }
  footer .copyright-wrapper span:first-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  footer .copyright-wrapper {
    margin-top: 60px;
  }
}
@media screen and (min-width: 992px) {
  footer .copyright-wrapper {
    margin-top: 80px;
  }
}

section.form {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  section.form {
    padding: 100px 0;
  }
}
section.form h3 {
  margin-bottom: 44px;
}

form input,
form textarea {
  width: 100%;
  padding: 16px 24px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #383C42;
  margin-bottom: 24px;
}

.component.header {
  position: relative;
}
.component.header .content-area {
  padding: 80px 0;
}
@media screen and (min-width: 768px) {
  .component.header .content-area {
    padding: 120px 0;
  }
}
@media screen and (min-width: 992px) {
  .component.header .content-area {
    padding: 144px 0;
  }
}
.component.header .content-area h2 {
  max-width: 700px;
  display: flex;
}
.component.header .content-area h2 .external-link {
  margin-left: 20px;
  margin-top: -4px;
}
.component.header .content-area .services {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FCFCFF;
  margin-top: 24px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  flex-wrap: wrap;
}
.component.header .content-area .services .dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #FCFCFF;
  margin: 0 12px;
}
.component.header .content-area .btn-container {
  margin-top: 44px;
}
.component.header .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 16px;
}
.component.header .logo-container .logo {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .component.header .logo-container {
    padding: 0 28px;
  }
}
@media screen and (min-width: 1400px) {
  .component.header .logo-container {
    padding: 0 40px;
  }
}
.component.header .illu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.component.header .illu-container.up-arrow {
  justify-content: end;
}
.component.header .illu-container.up-arrow .illu {
  max-height: 340px;
}
.component.header .illu-container .illu {
  width: 100%;
}

.component.section {
  position: relative;
}
.component.section .content-area {
  padding: 80px 0;
}
@media screen and (min-width: 768px) {
  .component.section .content-area {
    padding: 120px 0;
  }
}
@media screen and (min-width: 992px) {
  .component.section .content-area {
    padding: 144px 0;
  }
}
.component.section .content-area h2 {
  margin-bottom: 24px;
}
.component.section .content-area p {
  margin-bottom: 0;
}
.component.section .content-area .btn-container {
  margin-top: 44px;
}
.component.section .illu-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  align-items: center;
  padding: 80px 0;
  /*
  @media screen and (min-width: $screen-xl) {
    justify-content: center;
    padding: 0;
  }
  */
}
@media screen and (min-width: 768px) {
  .component.section .illu-container {
    padding: 120px 0;
  }
}
@media screen and (min-width: 992px) {
  .component.section .illu-container {
    padding: 144px 0;
  }
}
.component.section .illu-container .illu {
  width: 100%;
  max-width: 300px;
  max-height: 360px;
}

.component.slider {
  padding: 80px 0;
}
@media screen and (min-width: 768px) {
  .component.slider {
    padding: 120px 0;
  }
}
@media screen and (min-width: 992px) {
  .component.slider {
    padding: 144px 0;
  }
}
.component.slider .scroll-container {
  overflow: auto;
  cursor: grab;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.component.slider .scroll-container::-webkit-scrollbar {
  display: none;
}
.component.slider h2 {
  margin-bottom: 44px;
}
.component.slider .slide-container {
  width: 2436px;
  overflow: scroll;
  display: flex;
  align-items: top;
}
@media screen and (min-width: 992px) {
  .component.slider .slide-container {
    width: 2576px;
  }
}

.clip-box {
  -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 0%, 0% 0%);
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 0%, 0% 0%);
}

.component.process-section {
  padding: 80px 0;
  position: relative;
}
@media screen and (min-width: 768px) {
  .component.process-section {
    padding: 120px 0;
  }
}
@media screen and (min-width: 992px) {
  .component.process-section {
    padding: 144px 0;
  }
}
.component.process-section.bg-blue {
  color: #FCFCFF;
}
.component.process-section.bg-blue .folders li {
  color: #EFF0F8;
  background: url("/assets/img/folder-white.svg") no-repeat;
}
.component.process-section .numeral {
  margin-bottom: 20px;
}
.component.process-section .header {
  margin-bottom: 24px;
}
.component.process-section h4 {
  margin: 48px 0 0;
}
.component.process-section .folders {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-basis: 1;
  flex-wrap: wrap;
}
.component.process-section .folders li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 24px 20px 0 0;
  padding: 4px 4px 0;
  width: 140px;
  height: 100px;
  text-align: center;
  background: url("/assets/img/folder.svg") no-repeat;
  background-size: 100%;
  background-position: center;
  font-size: 18px;
  font-weight: 400;
  color: #777B84;
}

.component.cta {
  padding: 80px 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .component.cta {
    padding: 120px 0;
  }
}
@media screen and (min-width: 992px) {
  .component.cta {
    padding: 144px 0;
  }
}
.component.cta h2 {
  margin-bottom: 44px;
}

.component.gallery {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .component.gallery {
    padding: 100px 0;
  }
}
.component.gallery .gallery-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0;
  grid-auto-rows: minmax(100px, auto);
}
@media screen and (min-width: 768px) {
  .component.gallery .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .component.gallery .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1400px) {
  .component.gallery .gallery-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.component.image-gallery {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .component.image-gallery {
    padding: 100px 0;
  }
}
.component.image-gallery .gallery-mask {
  overflow: hidden;
  height: initial;
}
.component.image-gallery .gallery-mask.animate {
  transition: height 600ms ease-in;
}
.component.image-gallery .gallery-container {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: min-content 1fr;
  gap: 16px;
  position: relative;
}
.component.image-gallery .gallery-container img {
  width: 100%;
  height: auto;
  flex-basis: 100%;
}
.component.image-gallery .gallery-container img[data-display=none] {
  display: none;
}
.component.image-gallery .gallery-container img[data-display=visible] {
  display: block;
}
@media screen and (min-width: 768px) {
  .component.image-gallery .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .component.image-gallery .gallery-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.component.image-gallery .gallery-container.logo {
  grid-template-columns: repeat(1, 1fr);
  max-width: 800px;
  margin: 0 auto;
}
.component.image-gallery .button-wrapper {
  text-align: center;
  width: 100%;
  margin-top: 64px;
}

.component.text-section {
  padding: 80px 0;
}
@media screen and (min-width: 768px) {
  .component.text-section {
    padding: 120px 0;
  }
}
@media screen and (min-width: 992px) {
  .component.text-section {
    padding: 144px 0;
  }
}
.component.text-section.bg-blue {
  color: #FCFCFF;
}
.component.text-section.bg-blue h2 {
  margin-bottom: 24px;
}

.component.form-slider {
  overflow: hidden;
}
.component.form-slider h3 {
  margin-bottom: 24px;
}
.component.form-slider p {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 32px;
}
@media screen and (min-width: 992px) {
  .component.form-slider p {
    margin-bottom: 48px;
  }
}
.component.form-slider .custom-input,
.component.form-slider textarea,
.component.form-slider input {
  margin-bottom: 44px;
}
@media screen and (min-width: 992px) {
  .component.form-slider .custom-input,
  .component.form-slider textarea,
  .component.form-slider input {
    margin-bottom: 80px;
  }
}
.component.form-slider textarea,
.component.form-slider input,
.component.form-slider .custom-input span {
  background: #FCFCFF;
  border: 1px solid #777B84;
  font-family: "Lato", sans-serif;
}
.component.form-slider input,
.component.form-slider textarea {
  width: 100%;
  max-width: 660px;
  padding: 12px 16px;
  font-size: 20px;
}
.component.form-slider textarea {
  min-height: 180px;
}
.component.form-slider input[type=number] {
  max-width: 88px;
  font-size: 20px;
  padding: 12px 8px 12px 16px;
}
.component.form-slider .final input,
.component.form-slider .final textarea {
  margin-bottom: 20px;
  max-width: 100%;
}
.component.form-slider .final textarea {
  margin-bottom: 44px;
}
.component.form-slider .form-slide-wrapper {
  display: flex;
  flex-direction: row;
  width: 200%;
  transition: margin 400ms;
}
.component.form-slider .form-slide-wrapper .form-slide {
  width: 100%;
}

.molecule.btn-container a:first-child {
  margin-right: 4px;
}
@media screen and (min-width: 576px) {
  .molecule.btn-container a:first-child {
    margin-right: 12px;
  }
}

.molecule.slider-item {
  background: #FCFCFF;
  display: inline-block;
  margin-right: 28px;
  height: 240px;
  width: 324px;
  box-shadow: 0px 2px 4px rgba(88, 89, 91, 0.16);
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  pointer-events: none;
}
@media screen and (min-width: 992px) {
  .molecule.slider-item {
    height: 260px;
    width: 344px;
  }
}
.molecule.slider-item h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.molecule.slider-item header {
  background: #257BEC;
  color: #FCFCFF;
  padding: 16px 24px;
}
.molecule.slider-item p {
  padding: 24px;
}

.molecule.sidebar {
  position: absolute;
  right: 76px;
  top: calc(54px + 50% - 280px);
}
.molecule.sidebar.sticky {
  position: fixed;
  top: calc(54px + 50% - 260px);
}
.molecule.sidebar ol {
  list-style: none;
  padding: 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.molecule.sidebar ol li a {
  width: 44px;
  height: 44px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.molecule.sidebar ol li:not(:last-child) {
  margin-bottom: 4px;
}
.molecule.sidebar.metallic li.active a {
  font-size: 28px;
  background: transparent;
  border: 1px solid #27292C;
}
.molecule.sidebar.blue li.active a {
  font-size: 28px;
  background: #FCFCFF;
  color: #257BEC;
}

.molecule.gallery-card {
  width: 100%;
  padding: 48px;
  min-height: 316px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.molecule.gallery-card img {
  width: 100%;
}

.molecule.loading-bar {
  background: #CDCFD6;
  height: 12px;
  position: sticky;
  top: 108px;
}
.molecule.loading-bar .bar {
  position: absolute;
}
.molecule.loading-bar .blue {
  width: 15%;
  background: #418EF3;
  height: 100%;
  transition: width 400ms;
}
.molecule.loading-bar .orange {
  width: 15%;
  background: #FAA12C;
  height: 100%;
  right: 0;
}

.molecule.custom-input.select span {
  min-width: 80px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  display: inline-block;
  border: 1px solid #777B84;
  background: #FCFCFF;
  padding: 12px 24px;
  font-weight: 400;
  cursor: pointer;
  transition: background 400ms;
  margin-bottom: 20px;
  margin-right: 16px;
}
.molecule.custom-input.select span.selected {
  background: #F39C2A;
  color: #FCFCFF;
  border: 1px solid #F39C2A;
}
.molecule.custom-input.select span.selected:hover {
  background: #F39C2A;
  border: 1px solid #777B84;
}
.molecule.custom-input.select span:hover {
  background: #EFF0F8;
}

body {
  background: #FCFCFF;
}

@media screen and (min-width: 576px) {
  .container-fluid {
    --bs-gutter-x: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .container-fluid {
    --bs-gutter-x: 5rem;
  }
}

.material-symbols-sharp {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 60;
}

.link-anchor {
  position: absolute;
  margin-top: -108px;
}
.link-anchor.deep {
  margin-top: -200px;
}

/*# sourceMappingURL=main.css.map */
