.bg-orange {
  background: linear-gradient(90.59deg, $secondary-100 20.42%, rgba(250, 161, 44, 0.81) 99.44%);
}

.bg-blue {
  background: linear-gradient(91.07deg, $primary-100 7.56%, $primary-200 89.29%);
}

.bg-metallic {
  background: linear-gradient(98.4deg, $neutral-900 4.76%, rgba(239, 240, 248, 0) 57.39%);
}