.btn {
  font-family: $font-family-header;
  font-weight: 600;
  border-radius: 4px;
  transition: 300ms background, 300ms color, 300ms fill;
  // filter: drop-shadow(0px 1px 2px rgba(88, 89, 91, 0.16));

  &.standard {
    width: 140px;
    font-size: $font-size-100;
    padding: $spacing-300 0;

    @media screen and (min-width: $screen-sm) {
      width: 180px;
      font-size: $font-size-300;
      padding: $spacing-300 0;
    }
  }

  &.small {
    padding: $spacing-200 $spacing-300;
    font-size: $font-size-200;
  }

  &.blue {
    background: $primary-100;
    color: $neutral-1100;

    &:hover {
      background: $primary-200;
    }
  }

  &.orange {
    background: $secondary-100;
    color: $neutral-1100;

    &:hover {
      background: $secondary-200;
    }
  }

  &.white-outline {
    background: transparent;
    color: $neutral-1100;
    padding: $spacing-200 0;
    border: 4px solid $neutral-1100;

    &.orange:hover {
      background: $neutral-1100;
      color: $secondary-100;
    }

    &.blue:hover {
      background: $neutral-1100;
      color: $primary-100;
    }
  }

  &.blue-outline {
    background: transparent;
    color: $primary-100;
    padding: $spacing-200 0;
    border: 4px solid $primary-100;
    width: initial;

    &:hover {
      background: $primary-100;
      color: $neutral-1100;
    }

    &.icon {
      display: inline-flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: $spacing-200 $spacing-300;
      border: 1px solid $primary-100;
      font-weight: 500;

      svg {
        margin-left: $spacing-300;
        pointer-events: none;
      }
    }
  }

  &.orange-outline {
    background: transparent;
    color: $secondary-300;
    padding: $spacing-200 0;
    border: 4px solid $secondary-100;

    &:hover {
      background: $secondary-100;
      color: $neutral-1100;
    }

    &.back {
      padding: $spacing-300 $spacing-400;
      box-sizing: border-box;
      margin-right: $spacing-300;

      svg {
        width: auto;
        max-height: 30px;
        pointer-events: none;
      }

      &:hover {
        svg path {
          stroke: $neutral-1100;
        }
      }
    }
  }

  &.icon {
    &:hover rect {
      fill: $neutral-1100;
    }
  }
}