// BLOCK PADDING MIXIN
@mixin block-padding {
  padding: $block-padding 0;

  @media screen and (min-width: $screen-md) {
    padding: $block-padding-med 0;
  }

  @media screen and (min-width: $screen-lg) {
    padding: $block-padding-large 0;
  }
}

@mixin gallery-padding {
  padding: 60px 0;

  @media screen and (min-width: $screen-xl) {
    padding: 100px 0;
  }
}