h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-header;
  color: inherit;
  font-weight: bold;
}

h3 {
  font-size: $font-size-300;
}

p {
  font-family: font-family-body;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 300ms color;
}