// colors
$primary-100: #257BEC;
$primary-200: #418EF3;
$secondary-100: #F39C2A;
$secondary-200: #FAA12C;
$secondary-300: #E89B30;
$neutral-100: #27292C;
$neutral-200: #383C42;
$neutral-300: #5C5F65;
$neutral-400: #777B84;
$neutral-500: #979BA5;
$neutral-600: #B6B9C1;
$neutral-700: #CDCFD6;
$neutral-800: #E3E4EA;
$neutral-900: #EFF0F8;
$neutral-1000: #F8F8FD;
$neutral-1100: #FCFCFF;

$font-color: $neutral-100;

// spacing
$spacing-base: .25rem;
$spacing-200: $spacing-base * 2;
$spacing-300: $spacing-base * 3;
$spacing-400: $spacing-base * 4;
$spacing-500: $spacing-base * 5;
$spacing-600: $spacing-base * 6;
$spacing-700: $spacing-base * 7;
$spacing-800: $spacing-base * 8;
$spacing-900: $spacing-base * 9;
$spacing-1000: $spacing-base * 10;
$spacing-1100: $spacing-base * 11;
$spacing-1200: $spacing-base * 12;
$spacing-1500: $spacing-base * 15;
$spacing-1600: $spacing-base * 16;
$spacing-1700: $spacing-base * 17;
$spacing-1800: $spacing-base * 18;
$spacing-1900: $spacing-base * 19;
$spacing-2000: $spacing-base * 20;

// bespoke sizes
$block-padding: 5rem;
$block-padding-med: 7.5rem;
$block-padding-large: 9rem;
$nav-height: 6.75rem;

// z-indexes
$z-index-mobile-nav: 4;
$z-index-nav: 3;
$z-index-subnav: 2;
$z-index-base: 1;

// fonts
$font-family-header: 'Raleway', sans-serif;
$font-family-body: 'Lato', sans-serif;
$font-size-small: .875rem;
$font-size-base: 1rem;
$font-size-100: 1.125rem;
$font-size-200: 1.25rem;
$font-size-300: 1.5rem;
$font-size-400: 1.75rem;
$font-size-500: 2rem;
$font-size-600: 2.25rem;
$font-size-700: 2.5rem;
$font-size-800: 2.75rem;

// breakpoints
$screen-xs: 350px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;