@import 'variables';
@import 'type';
@import 'bgs';
@import 'btn';
@import 'nav';
@import 'footer';
@import 'mixins';

// COMPONENTS
@import 'components/header';
@import 'components/section';
@import 'components/slider';
@import 'components/process-section';
@import 'components/cta';

// MOLECULES
@import 'molecules/btn-container';
@import 'molecules/slider-item';
@import 'molecules/sidebar';

body {
  background: $neutral-1100;

  // TEMP, FOR TESTING
  height: 200vh;
}

// MODIFYING FLUID CONTAINER GUTTERS AT LARGER SCREEN SIZES
// This setting overrides a default bootstrap class
.container-fluid {
  @media screen and (min-width: $screen-sm) {
    --bs-gutter-x: 3rem;
  }

  @media screen and (min-width: $screen-xl) {
    --bs-gutter-x: 5rem;
  }
}

// MODIFIABLE GLOBAL GOOGLE FONT SETTINGS
.material-symbols-sharp {
  font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 60
}

// ANCHOR LINK ANCHORING POINT TO ACCOUNT FOR NAV SIZE
.link-anchor {
  position: absolute;
  margin-top: -$nav-height;
}