---
layout: default
title: Branding
---

{% include components/section.html color: "bg-blue"
header: "Your brand identity is important<br>Let’s give it the attention it deserves"
primary_btn_copy: "Get a quote"
primary_btn_link: linkTree.get_a_quote
secondary_btn_copy: "View gallery"
secondary_btn_link: "#gallery"
image: "/assets/img/illustrations/illu_painter.svg"
content: "Your logo is the the face of your brand. It tells a story. What’s your story? We’ll work with you to create or
improve it, as well as generate a color scheme, a vision, and clear brand values."
%}

{% include components/gallery.html type: "logos" %}