---
title: Get a quote
layout: default
description: "Use the tool on this page to get an accurate quote for your project, quickly."
---

{% capture content_string %}
<b>Please read:</b> Coastlight digital has suspended services and is no longer taking on new customer. This form (and website) 
remains up as a portfolio piece. Feel free to explore the form functionality,
but please note that the quote request will not be sent.
{% endcapture %}

{% include components/section.html header: "Get a quote for your project"
color: "bg-blue"
content: content_string
image: "/assets/img/illustrations/illu_writer.svg" %}

{% include molecules/loading-bar.html %}

{% capture inner_content %}
{% include components/form-slider.html %}
{% endcapture %}

{% include components/form-section.html content: inner_content %}